* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



body {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fefae0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container-nav {
    display: flex;
    flex-direction: row;

}

.logo_pagina {
    width: 100;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.title {
    color:#8338ec;
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
}

.active {
    color:#000000;
}


nav {
    width: 300px;
    background-color: #fefae0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

nav a {
    font-family: "Playfair Display SC", serif;
    color: #8338ec;
    padding: 7px;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
}

nav a:hover {
    font-family: "Playfair Display SC", serif;
    background-color: #8338ec;
    color:#000000;
}

main {
    flex: 1;
    background-image: url(/img/20230411_CLINICA-ESTETICA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 100%;
    height: 100vh;
}

.title_content {
    margin-top: 0;
    font-size: 2.5em;
    font-family: "Playfair Display SC", serif;
    color:#edf2f4;
    }

p {
    font-size: 1.2em;
    line-height: 1.6;
    font-family: "Playfair Display SC", serif;
    color:#edf2f4;
}

.container-icons{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-icons i {
    margin-right: 10px;
    padding-top: 5px;
}



.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px;
    margin-top: 90px;
    background-color: #fefae0;
    
}

.container-form h2 {
    font-family: "Playfair Display SC", serif;
    margin-bottom: 15px;
    font-size:35px;
    color:#8338ec;
    

}

.container-form p {
    font-family: "Playfair Display SC", serif;
    font-size:17px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #000000;
}
.container-form a {
    font-family: "Playfair Display SC", serif;
    font-size:15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom:15px;
    color:#000000;
    font-weight: 700;
}

.container-form a i {
    font-family: "Playfair Display SC", serif;
    color: #8338ec;
    margin-right: 10px;
}

.container-form form .campo, textarea {
    font-family: "Playfair Display SC", serif;
    width: 100%;
    padding: 15px 10px;
    font-size:15px;
    border: 1px solid #8338ec;
    margin-bottom: 20px;
    border-radius:3px;
    outline: 0px;
}

.container-form form textarea {
    min-width: 550px;
    max-width: 550px;
    min-height: 150px;
    max-height: 150px;
}

.container-form .btn-enviar {
    font-family: "Playfair Display SC", serif;
    padding:15px;
    font-size: 15px;
    border:none;
    outline: 0px;
    background: #8338ec;
    color:#edf2f4;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    font-family: "Playfair Display SC", serif;
    background:#bb95f0;
    color:#000000;
}


footer {
    width: 100%;
    background-color: #292727;
    color: #edf2f4;
    padding: 20px 0;
    text-align: center;
    margin-top: 35px;
}

footer .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}


footer .container .social-media,
footer .container .links,
footer .container .contact-info {
    margin-bottom: 20px;
}

footer a {
    font-family: "Playfair Display SC", serif;
    color: #edf2f4;
    margin: 0 10px;
    font-weight:bold;
    text-decoration: none;
}

footer a:hover {
    font-family: "Playfair Display SC", serif;
    text-decoration: underline;
    color: #8338ec;

}

footer p {
    font-family: "Playfair Display SC", serif;
    margin: 10px 0;
    color: #edf2f4;
}


